body{
	background-image: url(7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	font-family: 'Courier New', serif;
}
.nav{
	background-image: url(2.jpg);
	color: black;
	list-style: none;
	text-align: left;
	padding: 20px 0 20px 0;
	
}
.nav > li{
	display: inline-block;
	padding: 0 25px 0 25px; 
}
.nav > li > a{
	text-decoration: none;
	color: black;
}
.nav > li > a:hover{
	color: white;
}
.been{
	padding: 40px;
	margin-right: 80px;
	margin-top: 20px;
	background-color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	position: relative;
	opacity: 0.8;
}
.plans{
	padding: 40px;
	margin-left: 230px;
	margin-top: 120px;
	background-color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	position: relative;
	opacity: 0.8;
}
.quote{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
}
footer{
	margin-top: 950px;
	height: 40px;
	background-color: lightpink;
	text-align: center;
}